
<div class="delete-notification" [class.show] = 'showDeleteMessage'>
  Товар удален
</div>

<div class="product">
  <h2 class="product__title">Мои добавленные товары товары</h2>

  <div class="product__block-null" *ngIf="products.length === 0">Вы еще не добавили ни одного товара.</div>

  <div class="product__grid">
    <div class="product__card" *ngFor="let card of products">

      <div class="slider">
        <img [src]="card.imageUrl" [alt]="card.title" class="product__card-image">
      </div>

      <div class="product__card-info">
        <div class="product__card-info-price-block">
          <p class="product__card-price">{{ card.price }} p.</p>
        </div>

        <div class="product__card-info-block">
          <h3 class="product__card-title">{{ card.title }}</h3> /
          <span class="product__card-description">{{ card.description }}</span>
        </div>
        <button
          class="product__card-buy-button delete-btn"
          (click)="deleteSellerProduct(card.id); $event.stopPropagation()"
        >
          <span>Удалить товар</span>
        </button>
      </div>
    </div>
  </div>
</div>
