<div class="forgot-password">
  <div class="forgot-password__page">
    <div class="forgot-password__block">
      <div class="forgot-password__block-title">
        <h2>Восстановить пароль</h2>
        <p>
          Пожалуйста, введите свою почту, чтобы сбросить текущий пароль.
        </p>
      </div>
      <form class="forgot-password__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="forgot-password__email" type="email" placeholder="Email" formControlName="email">
        <div class="forgot-password__error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          Введите email
        </div>
        <div class="forgot-password__alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="forgot-password__link-information" *ngIf="isPasswordResetEmailSent">
          Ссылка для сброса отправлена на вашу почту. Используйте эту ссылку для сброса текущего пароля.
        </div>
        <button type="submit" class="forgot-password__form-btn" [disabled]="!form.valid" >Восстановить пароль</button>
      </form>
      <p class="forgot-password__login-text">
        Войти в систему?
      </p>
      <button class="forgot-password__btn-sign-in" [routerLink]="['/auth/sign-in']" >Вход</button>
    </div>
  </div>
</div>
