/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.forgot-password{

  &__block{
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
  }

  &__block-title{
    margin-bottom: 20px;
    text-align: center;
  }
  &__block-title p{
    margin: 20px auto 0;
  }
  &__form{
    display: flex;
    flex-direction: column;
  }
  &__email{
    color: #0b0b0b;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
  }
  &__email:active{
    box-shadow: 2px 2px 15px #8707ff inset;
    border: 2px solid #6201ba;
  }
  &__form-btn{
    cursor: pointer;
    border: 0;
    padding:10px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #b3b1b1;
    transition: .2s;
    margin-bottom: 15px;
  }
  &__form-btn:hover{
    background-color: #d8d8d8;
  }
  &__login-text{
    text-align: center;
    margin: 15px 0;
  }
  &__btn-sign-in{
    cursor: pointer;
    color: #ffffff;
    background-color: #ae01ab;
    border: 0;
    padding:10px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #e42ce4;
    transition: .2s;
  }
  &__btn-sign-in:hover{
    background-color: #950293;
  }
  &__alert-danger{
    background-color: rgba(223, 0, 0, 0.37);
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #8a0000;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  &__link-information{
    color: #c52424;
    text-align: center;
    margin: 10px 0;
  }
}
