.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

.notifications{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; // расстояние между уведомлениями
  z-index: 1000;
}
.notification{
  background-color: #bb52f2;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  animation: fadeInOut 4s ease forwards;
}
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.basket{
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin: 30px 0;

  &__spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__spinner{
    border: 6px solid #f3f3f3;
    border-top: 6px solid #9e1aeb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 300px auto;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &__null{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
  }
  &__null h3{
    margin: 0 auto;
  }
  &__null span{
    margin: 20px auto;
    color: #858282;
  }
  &__null button{
    width: 250px;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: #f6f6f6;
    margin: 0 auto;
    font-size: 16px;
    background-color: #a63afb;
    cursor: pointer;
    transition: 0.2s;
  }
  &__null button:hover{
    background-color: #b464f3;
  }


  &__cards-block{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    width: 70%;
  }

  &__card{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0;
  }
  &__card-img{
    width: 100px;
    height: 130px;
  }
  &__card-content{
    display: flex;
  }
  &__card-content-img{
    width: 100px;
    margin-right: 14px;

  }
  &__card-content-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    color: #b3b1b1;
  }
  &__card-content-description-title{
    color: #0b0b0b;
  }
  &__card-content-description-btn{
    display: flex;
  }
  &__card-content-description-btn img{
    width: 18px;
    cursor: pointer;
  }
  &__card-content-description-btn-favorites{
    margin-right: 18px;
  }

  &__card-count{
  position: absolute;
    top: 0;
    right: 300px;
    display: flex;
    align-items: center;
  }
  &__card-count-minus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #efeff3;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
  }
  &__card-count-minus:hover{
    background-color: #d9d9dd;
  }
  &__card-count-num{
    margin: 0 10px;
  }
  &__card-count-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #efeff3;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
  }
  &__card-count-plus:hover{
    background-color: #d9d9dd;
  }

  &__card-sum{
    color: #8a0000;
  }


  &__sum-block{
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    padding: 24px;
    border-radius: 20px;
    width: 360px;
    height: 30%;
  }
  &__sum-block-delivery{
    font-weight: bold;
    margin-bottom: 24px;
  }
  &__sum-block-payment{
    font-weight: bold;
    margin-bottom: 24px;
  }
  &__sum-block-total-price{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    width: 100%;
  }

  &__sum-block-btn button{
    width: 100%;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 24px;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 16px;
    background-color: #a63afb;
    cursor: pointer;
    transition: 0.2s;
  }
  &__sum-block-btn button:hover{
    background-color: #b55cfb;
  }

  &__clearAll-btn{
    width: 100%;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 24px;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 16px;
    background-color: #a63afb;
    cursor: pointer;
    transition: 0.2s;
  }
  &__clearAll-btn:hover{
    background-color: #b55cfb;
  }
  &__sum-block-rules{
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  &__sum-block-rules-info{
    margin-left: 12px;
    color: #8f8f9d;
  }
  &__sum-block-rules-icon img{
    width: 24px;
  }
  &__sum-block-rules-info span{
    color: #0b0b0b;
  }
  &__sum-block-rules-info span:hover{
    color: #963af5;
    cursor: pointer;
    transition: .2s;
  }
}
