.quick-view{
  position: fixed;
  width: 800px;
  height: 600px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;

  &__img{
    border-radius: 10px 0 0 10px;
  }

  &__text{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;

  }
}
.quick-view__close{
  position: absolute;
  right: 3px;
  top: 3px;
  border: none;
  background: var(--light-color);
  color: #98989e;
  cursor: pointer;
}

