<div class="sign-in">
  <div class="sign-in__page">
    <div class="sign-in__block">
      <div class="sign-in__block-title">
        <h2>Войти или создать профиль</h2>
      </div>

      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="sign-in__form">
        <div class="sign-in__email-wrapper">
          <input class="sign-in__form-email" type="email" placeholder="Email" formControlName="email">
          <span
            class="sign-in__form-email-clear"
            *ngIf="authForm.get('email')?.value?.length > 0"
            (click)="clearEmail()"
          >
            ❌
          </span>

          <div class="sign-in__error" *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched">
            Введите email
          </div>
        </div>
        <div class="sign-in__password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" class="sign-in__form-password" placeholder="Password" formControlName="password">
          <span class="sign-in__password-toggle-visibility" *ngIf="authForm.get('password')?.value?.length > 0" (click)="togglePasswordVisibility()">
            {{showPassword ? '🙈' : '👁️'}}
          </span>
          <div class="sign-in__error" *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
            Пароль обязателен
          </div>
        </div>
        <button type="submit" class="sign-in__form-btn" [disabled]="!authForm.valid">Вход</button>
      </form>

      <div class="sign-in__alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div class="sign-in__additional-features">
        <button class="sign-in__btn-in-google" (click)="onSignInWithGoogle()" >Вход через Google</button>
        <p>
          У вас нет аккаунта?
        </p>
        <button class="sign-in__btn-sign-up" [routerLink]="['/auth/sign-up']" >Регистрация</button>
        <a class="sign-in__link-forgot-password" [routerLink]="['/auth/forgot-password']">Восстановить пароль</a>
      </div>
    </div>
  </div>
</div>
