<div class="product__spinner-container">
  <div *ngIf="isLoading" class="product__spinner"></div>
</div>

<div class="product" *ngIf="product">
  <div class="product__notification" *ngIf="notification">
    {{notification}}
  </div>
  <div class="product__wrapper">
    <button class="product__btn-back" (click)="goToProduct()">
      <img src="assets/icon/back.png">
    </button>
    <div class="product__content">
      <div class="product__block-left">
<!--        <div class="product__block-img">-->
<!--          <img [src]="product?.imageUrl" alt="{{product?.title}}">-->
<!--        </div>-->
        <div class="product__block-thumbs">
          <div class="thumb"
               *ngFor="let img of product?.images"
               (click)="selectImage(img)"
          >
            <img [src]="img">
          </div>
        </div>
        <div class="product__block-img">
          <img [src]="selectedImage || product?.imageUrl"
               alt="{{selectedVariant?.color || product?.title}}">
        </div>

        <div class="product__block-info">
          <div class="product__block-info-title">{{ product?.title }}</div>
          <h2 class="product__block-info-desc">{{ product?.description }}</h2>
          <p class="product__block-info-color">Цвет: {{ product?.color }}</p>

          <div class="product__block-all-img">
            <div class="all-img"
                 *ngFor="let variant of product?.variants"
                 (click)="selectVariant(variant)"
            >
              <img [src]="variant.imageUrl" alt="{{variant.color}}">
            </div>
          </div>
          <div class="product__block-info-rating">
            <img src="assets/icon/icon-star.png">
            <span> {{product?.rating}}</span>
            <p class="product__block-info-votes"> · {{ product?.votes }} оценок</p>
          </div>

        </div>
      </div>
      <div class="product__block-price">
        <h2>{{ product?.price }} p.</h2>
        <div class="product__block-price-btns">
          <ng-container *ngIf="!isAddedToBasket; else basketBtn">
            <button class="add-to-basket" (click)="addToBasket(product)">Добавить в корзину</button>
            <button class="bye-now">Купить сейчас</button>
          </ng-container>

          <ng-template #basketBtn>
            <button class="product__go-to-basket" (click)="goToBasket()">Перейти в корзину</button>
          </ng-template>
        </div>
        <div class="product__block-price-favorite" (click)=" goToFavorites()">
          <img [src]=" addFavorites ? 'assets/icon/heart-hover.png' : 'assets/icon/icon-heart-basket.png'">
        </div>
      </div>
    </div>

    <div class="product__recommendations" *ngIf="recommendedProducts.length">
      <h2>Смотрите также по катогории <span>{{product?.category}}</span></h2>
      <div class="recommendations__flex">
        <div class="recommendations__card"
             *ngFor="let rec of recommendedProducts"
             (click)="openProductDetail(rec)">
          <img [src]="rec.imageUrl" alt="{{rec.title}}">
          <p>{{rec.title}}</p>
          <span>{{rec.price}} p.</span>
        </div>
      </div>

    </div>
  </div>
</div>
