
<div class="product__spinner-container">
  <div *ngIf="isLoading" class="product__spinner"></div>
</div>

<div class="product" *ngIf="product">
  <div class="product__notification" *ngIf="notification">
    {{notification}}
  </div>
  <div class="product__wrapper">
    <button class="product__btn-back" (click)="goToProduct()">
      <img src="assets/icon/back.png">
    </button>
    <div class="product__content">
      <div class="product__block-left">
<!--        <div class="product__block-img">-->
<!--          <img [src]="product?.imageUrl" alt="{{product?.title}}">-->
<!--        </div>-->
        <div class="product__block-thumbs" *ngIf="product?.images">
          <div class="thumb"
               *ngFor="let img of product?.images"
               (click)="selectImage(img)"
               [class.active]="selectedImage === img"
          >
            <img [src]="img">
          </div>
        </div>
        <div class="product__block-img">
          <img [src]="selectedImage || product?.imageUrl"
               alt="{{selectedVariant?.color || product?.title}}">
        </div>

        <div class="product__block-info">
          <div class="product__block-info-title">{{ product?.title }}</div>
          <h2 class="product__block-info-desc">{{ product?.description }}</h2>
          <p class="product__block-info-color">Цвет: {{ product?.color }}</p>

          <div class="product__similar-cards" *ngIf="similarCards.length" >
              <div class="similar-card"
                   *ngFor="let card of similarCards"
                   (click)="openProductDetail(card)"
                   [class.selected]="card.id === selectedSimilarCardId"
              >
<!--                <img [src]="card.images && card.images.length ? card.images[0] : card.imageUrl">-->
                <img [src]="card.images?.[0] || card.imageUrl">
              </div>
          </div>


<!--          <div class="product__block-all-img">-->
<!--            <div class="all-img"-->
<!--                 *ngFor="let img of product?.images"-->
<!--                 (click)="selectImage(img)"-->
<!--                 [class.active]="selectedImage === img"-->
<!--            >-->
<!--              <img [src]="img">-->
<!--            </div>-->
<!--            <div *ngIf="similarCards.length">-->
<!--              <div *ngFor="let card of similarCards">-->
<!--                <img [src]="card.imageUrl">-->
<!--                <div>{{card.title}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="product__block-info-rating">
            <img src="assets/icon/icon-star.png">
            <span> {{product?.rating}}</span>
            <p class="product__block-info-votes"> · {{ product?.votes }} оценок</p>
          </div>

          <div class="product__block-info-article"> Артикл: {{product?.article}}</div>
        </div>
      </div>
      <div class="product__block-price">
        <h2>{{ product?.price }} p.</h2>
        <div class="product__block-price-btns">
          <ng-container *ngIf="!isAddedToBasket; else basketBtn">
            <button class="add-to-basket" (click)="addToBasket(product)">Добавить в корзину</button>
            <button class="bye-now">Купить сейчас</button>
          </ng-container>

          <ng-template #basketBtn>
            <button class="product__go-to-basket" (click)="goToBasket()">Перейти в корзину</button>
          </ng-template>
        </div>
        <div class="product__block-price-favorite" (click)=" goToFavorites()">
          <img [src]=" addFavorites ? 'assets/icon/heart-hover.png' : 'assets/icon/icon-heart-basket.png'">
        </div>
      </div>
    </div>


    <div class="product-reviews">

      <h2>Отзывы покупателей</h2>

      <!-- Форма добавления отзыва (только для авторизованных) -->
      <div class="review-form" *ngIf="isAuthenticated && product">
    <textarea
      [(ngModel)]="newReviewText"
      placeholder="Ваш отзыв..."
      class="review-textarea"
    ></textarea>
        <div class="review-error" *ngIf="reviewError">
          {{ reviewError }}
        </div>


        <!--        <select [(ngModel)]="newReviewRating" class="review-rating">-->
<!--          <option *ngFor="let r of [1,2,3,4,5]" [value]="r">-->
<!--            {{ r }} ★-->
<!--          </option>-->
<!--        </select>-->

        <div class="rating-stars">
          <span
            *ngFor="let star of [1,2,3,4,5]"
            (click)="setRating(star)"
            (mouseover)="hoverRating = star"
            (mouseleave)="hoverRating = 0"
            [class.filled]="star <= (hoverRating || newReviewRating)"
          >
            ★
          </span>
        </div>


        <button (click)="addReview()" class="review-submit-btn">
          Оставить отзыв
        </button>
      </div>

      <!-- Если отзывов нет -->
      <div *ngIf="reviews.length === 0" class="no-reviews">
        Пока нет отзывов!
      </div>

      <!-- Список отзывов -->
      <div class="review-list" *ngIf="reviews.length > 0">
        <div class="review-item" *ngFor="let r of reviews">
          <div class="review-header">
            <strong>{{ r.userName }}</strong>
            <span class="review-stars">{{ r.rating }} ★</span>
          </div>

          <p class="review-text">{{ r.text }}</p>

          <small class="review-date">
            {{ r.date | date:'medium' }}
          </small>
        </div>
      </div>
    </div>



    <div class="product__recommendations" *ngIf="recommendedProducts.length">
      <h2>Смотрите также по катогории <span>{{product?.category}}</span></h2>
      <div class="recommendations__flex">
        <div class="recommendations__card"
             *ngFor="let rec of recommendedProducts"
             (click)="openProductDetail(rec)">
          <img [src]="rec.images && rec.images.length ? rec.images[0] : rec.imageUrl">
          <p>{{rec.title}}</p>
          <span>{{rec.price}} p.</span>
        </div>
      </div>
    </div>
  </div>
</div>
