
<div class="wrapper">
  <div class="product">

    <div class="product__notification" *ngIf="notification">
      {{notification}}
    </div>

    <div class="product__spinner-container">
      <div *ngIf="isLoading" class="product__spinner"></div>
    </div>

    <div *ngIf="!isLoading" class="product__grid">
      <div  class="product__card" *ngFor="let card of filteredCards;let i = index"
            (mouseenter)="hoveredCard = card"
            (mouseleave)="hoveredCard = null"
            (click)="openProductDetail(card)"
      >
<!--        <img [src]="card.imageUrl" alt="{{card.title}}" class="product__card-image">-->

<!--        <div class="slider">-->
<!--          <img [src]="card.images?.[currentIndex]" alt="{{card.title}}" class="product__card-image">-->
<!--          <button (click)="prevImage(card);  $event.stopPropagation()">‹</button>-->
<!--          <button (click)="nextImage(card);  $event.stopPropagation()">›</button>-->
<!--        </div>-->

        <div class="slider"
             *ngIf="card.images && card.images.length"
             (mouseenter)="startSlider(card)"
             (mouseleave)="stopSlider()">
          <img [src]="card.images[card.currentIndex || 0]"
               alt="{{card.title}}"
               class="product__card-image">
        </div>

        <div class="product__card-info">
          <div class="product__card-info-price-block">
            <img src="assets/icon/discount.png">
            <p class="product__card-price">{{ card.price }} p.</p>
          </div>
          <div class="product__card-info-block">
            <h3 class="product__card-title">{{ card.title }}</h3> / <span class="product__card-description">{{ card.description }}</span>
          </div>
          <div class="product__card-info-rating">
            <span class="product__card-info-rating-star">
              <img src="assets/icon/icon-star.png" alt="star">
            </span>
            <span class="product__card-info-rating-num">
              {{card.rating}}
            </span>
            <span>•</span>
            <span class="product__card-info-rating-votes">{{card.votes}}</span>
            <span>оценки</span>
          </div>
          <button class="product__card-buy-button"
                  [class.in-cart]="card.isInCart"
                  (click)="toggleCart(card); $event.stopPropagation()"
          >

            <img *ngIf="!card.isInCart"
                 class="product__card-buy-button-img"
                 src="assets/icon/shopping-cart.png"
                 alt="Корзина"
            >
            <span>{{card.isInCart ? "В корзине" : " Послезавтра"}}</span>
          </button>
        </div>
        <button
          *ngIf="hoveredCard === card"
          class="product__quick-view-btn"
          (click)="openQuickView(card); $event.stopPropagation()"
        >Быстрый просмотр</button>
      </div>
    </div>
    <app-quick-view
      [product]="selectedCard"
      [isOpen]="isQuickViewOpen"
      (closed)="closeQuickView()">
    </app-quick-view>
  </div>
</div>


