<div class="seller-layout">
  <div class="seller">
    <div class="notification"
         [ngClass]="{
        'notification--show': showNotification,
         'notification--success': notificationType === 'success',
         'notification--error': notificationType === 'error'
       }"
    >
      {{ notificationMessage }}
    </div>

    <h2 class="seller__title">Добавление нового товара</h2>

    <form class="seller__form" [formGroup]="sellerForm" (ngSubmit)="onSubmit()">

      <div class="seller__form-group">
        <label class="seller__form-group-label">Название товара:</label>
        <input
          class="seller__form-group-input"
          [ngClass]="{'invalid-field': isInvalid('title')}"
          type="text"
          formControlName="title">
      </div>

      <div class="seller__form-group">
        <label class="seller__form-group-label">Категория:</label>
        <select
          class="seller__form-group-input"
          [ngClass]="{'invalid-field': isInvalid('category')}"
          formControlName="category">
          <option value="">Выберите категорию</option>
          <option *ngFor="let c of category" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div class="seller__form-group">
        <label class="seller__form-group-label">Цвет:</label>
        <select
          class="seller__form-group-input"
          [ngClass]="{'invalid-field': isInvalid('color')}"
          formControlName="color">
          <option value="">Выберите цвет</option>
          <option *ngFor="let c of colors" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div class="seller__form-group">
        <label class="seller__form-group-label">Цена:</label>
        <input
          class="seller__form-group-input"
          [ngClass]="{'invalid-field': isInvalid('price')}"
          type="text"
          formControlName="price">
      </div>

      <div class="seller__form-group">
        <label class="seller__form-group-label">Описание:</label>
        <input
          class="seller__form-group-input"
          [ngClass]="{'invalid-field': isInvalid('description')}"
          type="text"
          formControlName="description">
      </div>


      <div class="seller__drop-zone"
           (dragover)="$event.preventDefault()"
           (drop)="onFileDropped($event)"
           (click)="fileInput.click()">
        <p>Перетащите фото сюда или нажмите для выбора</p>
        <input type="file" #fileInput hidden multiple (change)="onFileSelected($event)" accept="image/*">
      </div>

      <!-- Список загруженных картинок (Превью) -->
      <div class="seller__previews">
        <div class="seller__preview-item" *ngFor="let img of imagesBase64; let i = index">
          <img [src]="img" alt="preview">
          <button type="button" class="seller__preview-remove" (click)="removeImage(i)">×</button>
        </div>
      </div>

      <div *ngIf="showValidationError && imagesBase64.length === 0" style="color: red; margin-bottom: 10px;">
        Добавьте хотя бы одно изображение
      </div>


      <button
        class="seller__add-button"
        type="submit"
      >
        Опубликовать товар
      </button>
    </form>
  </div>

  <div class="form-status-panel">
    <h3>Статус заполнения:</h3>
    <ul>
      <li [class.is-ready]="sellerForm.get('title')?.valid">Название товара</li>
      <li [class.is-ready]="sellerForm.get('category')?.valid">Категория</li>
      <li [class.is-ready]="sellerForm.get('color')?.valid">Цвет</li>
      <li [class.is-ready]="sellerForm.get('price')?.valid">Цена</li>
      <li [class.is-ready]="sellerForm.get('description')?.valid">Описание</li>
      <li [class.is-ready]="imagesBase64.length > 0">Фотографии</li>
    </ul>
  </div>
</div>
