html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Задаем полную высоту */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  position: fixed; /* Фиксируем хедер */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Указываем z-index, чтобы хедер был выше других элементов */
}

.content {
  margin-top: 150px; /* Учитываем высоту хедера */
  height: 100vh;
}

app-footer {
  bottom: 0;
}
