<div class="footer" >
  <div class="footer__wrapper">
    <div class="footer__content">
      <div class="footer__container-top">
        <div class="footer__container-top-block">
          <h4>
            Покупателям
          </h4>
          <span>Вопросы и ответы</span>
          <span>Юридическая информация</span>
        </div>
        <div class="footer__container-top-block">
          <h4>
            Продавцам и партнёрам
          </h4>
          <span>Продавать товары</span>
          <span>Открыть пункт выдачи</span>
          <span>Предложить помещение</span>
          <span>Развозить грузы</span>
          <span>Доставлять заказы</span>
        </div>

        <div class="footer__container-top-block">
          <h4>
            Наши проекты
          </h4>
          <span>WB Guru</span>
          <span>WB Stream</span>
        </div>

        <div class="footer__container-top-block">
          <h4>
            Компания
          </h4>
          <span>О нас</span>
          <span>Пресс-служба</span>
          <span>Контакты</span>
          <span>Вакансии</span>
          <span>Сообщить о мошенничестве</span>
        </div>

        <div class="footer__container-top-block-qr">
          <img src="https://static-basket-01.wbbasket.ru/vol2/site/i/v3/apps/qr-apps.svg" alt="img">
        </div>
      </div>

      <div class="footer__container-bottom">
        <div class="footer__container-bottom-block-info">
      <span>
        ООО «ИМВБРБ», г. Минск, ул. Грушевская 21, помещение 217. УНП 193630204 (свидетельство о государственной регистрации юридического лица выдано Минским горисполкомом от 06.06.2022 г. № 0198794). Дата включения сведений об интернет-магазине в Торговый реестр Республики Беларусь 01.07.2022. Телефон для связи: +375 17 388 60 00. Режим работы: круглосуточно. Лицо, уполномоченное продавцом рассматривать обращения покупателей о нарушении их прав, предусмотренных законодательством о защите прав потребителей — Добриян Ольга Викторовна, тел. +375 17 388 60 22. +375 17 263 97 69, +375 17 258 30 82 — отдел торговли и услуг администрации Московского района г. Минска. +375 17 368 80 49 — уполномоченный по защите прав потребителей. По оформлению рекламации или возврата, свяжитесь с нами по электронной почте: sales wildberries.by. Книга замечаний и предложений находится по адресу: г. Минск, ул. Скрыганова, д. 6а, помещение 8, офис 35.
      </span>
        </div>
        <div class="footer__container-bottom-block">
          <span>
            © Wildberries 2004–2025. Все права защищены.
          </span>
          <div class="footer__container-bottom-block-link">
            <div>
              <a class="footer__container-bottom-block-link-vk" target="_blank" href="https://vk.com/wildberries_shop">

              </a>
            </div>
            <div>
              <a class="footer__container-bottom-block-link-ok-ru" target="_blank" href="https://ok.ru/wildberriesby">

              </a>
            </div>
            <div>
              <a class="footer__container-bottom-block-link-telegram" target="_blank" href="https://www.wildberries.by/presservice#tg">

              </a>
            </div>
            <div >
              <a class="footer__container-bottom-block-link-youtube" target="_blank" href="https://www.youtube.com/@wb_online/featured">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
