<div class="header" >
  <div class="header__wrapper">
    <div class="header__content">
      <div class="header__top">
        <ul class="header__top-menu">
          <li class="header__top-menu-geo">
         <span class="header__top-menu-geo-icon">
            <img src="assets/icon-location.png">
         </span>
            <span>Минск</span>
          </li>
          <li class="header__top-menu-sale-on-wb">
            Продавайте на Wildberries
          </li>
          <li class="header__top-menu-work-in-wb">
            Работа в Wildberries
          </li>
        </ul>
        <div class="header__top-menu-country">
          <span>BYN</span>
        </div>

      </div>
      <div class="header__bottom">
        <div class="header__bottom-block-burger">
          <h1 (click)="navigateToWelcomePage()">wildberries</h1>
          <div class="header__bottom-block-burger-menu">
            <span class="burger-line-1"></span>
            <span class="burger-line-2"></span>
            <span class="burger-line-3"></span>
          </div>
        </div>
        <div class="header__bottom-block-search">
          <input class="header__bottom-block-search-input"
                 type="search"
                 placeholder="Найти на Wildberries"
                 (input)="onSearch($event)"
          >
        </div>
        <div  class="header__bottom-block-nav" >
          <div  *ngIf="isAuthenticated ? true : false" class="header__bottom-block-nav-orders" >
            <img src="assets/icon/icon-logistics.png">
            Заказы
          </div>
          <div class="header__bottom-block-nav-addresses">
            <img src="assets/icon-location.png">
            {{isAuthenticated ? 'Избранное' : 'Адреса'}}
          </div>

          <div class="header__bottom-block-nav-sign-in" (click)="navigateUser()" >
            <img src="assets/user.png" alt="User">
            {{isAuthenticated ? 'Профиль' : 'Войти'}}
          </div>
          <div class="header__bottom-block-nav-basket" (click)="navigateBasket()">
            <img src="assets/icon/shopping-cart.png" alt="Shopping">
              Корзина

            <span *ngIf="count > 0" class="header__bottom-block-nav-basket-count">{{count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
